/* /Content/Main/InnerComponents/HomeCategoriesSection.razor.rz.scp.css */
.loader[b-g0ptahj7uo] {
    width: 120px;
    height: 20px;
    background: linear-gradient(90deg, #0000,orange) left -50px top 0/50px 20px no-repeat lightblue;
    animation: l2 1s infinite linear;
}
