
<!-- Navbar -->
<section class="bg-amber-400">
    <!-- Content Container -->
    <div class="content-container border border-red-600">

        <!-- Information Section -->
        <div class="flex justify-evenly items-center py-2">
            <p class="w-full text-[12px] text-white text-center border border-white">+(994 12) 571 33 10</p>
            <p class="w-full text-[12px] text-white text-center border border-white">hello@@elevate.edu</p>
        </div>

    </div>
</section>

@code {

}
